body {
margin: 0;
padding:0; 
}

.title {
  margin-bottom: 70px;
  margin-top: 70px;
  color: #1B7B98;
  text-align: center;
}

.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  width: 1200px;
  align-content: center;
  margin: 20px;
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #1B7B98;
  border-radius: 0.2em;
}

table tr td{
  border: 1px solid #1B7B98;
  text-align: center;
  margin: 5px !important;
}

.headings {
  margin-top: 10px;
  margin-bottom: 10px; 
  text-align: center;
  color: #1B7B98;
}

.table_header {
  font-weight: bold;
  color: #1B7B98;
  text-align: center;
}
